:host {
  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      text-align: center;
      margin-bottom: 3rem;
    }
    .formSection {
      display: flex;
      width: 30%;
      flex-direction: column;
      .loginFormField {
        width: 100%;
      }
    }
  }
}
